#redis settings
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_DB_NAME=0
REDIS_PASSWORD=

#app settings
MIN_COUNT_FOR_SORT=3500 # минимальное значение количества товара для сортировки по возрастанию\убыванию
MAX_COUNT_FOR_SORT=7000 # максимальное значение количества товара для сортировки по возрастанию\убыванию
MIN_COUNT_FOR_FILTER=20 # значение количества товара, ниже которого, ссылки на данную категорию не будут созданы
CHUNK_SIZE=30 # количество запросов за один раз
SLEEP_BETWEEN_REQUEST=0.1 # отдых между запросами
SLEEP_BETWEEN_CHUNK=1 # отдых между группами запросов
USE_NOTIFY_SEND=False # отправлять или нет оповещения о новых категориях
USE_NOTIFY_LOG=True # записывать ли в лог сведения о новых категориях
TIME_CREATE_URLS=3 # интервал для запуска создания ссылок(в часах)

#notification settings
NOTIFY_HOST=127.0.0.1
NOTIFY_PORT=3000
NOTIFY_PATH=/notify